@model Seller
@{ ViewData["Title"] = "Seller"; }

<h2>@ViewData["Title"] </h2>

<h4>Seller </h4>

<hr />

<dl class="dl-horizontal">
    <dt>
        Matrícula <!-- @Html.DisplayNameFor(model => model.Id)-->
    </dt>
    <dd> @Html.DisplayFor(modelItem => Model.Id)</dd>
    <dt> @Html.DisplayNameFor(model => model.Name)</dt>
    <dd>
        @Html.DisplayFor(modelItem => Model.Name)
    </dd>
    <dt> @Html.DisplayNameFor(model => model.Email)</dt>
    <dd>
        @Html.DisplayFor(modelItem => Model.Email)
    </dd>
    <dt> @Html.DisplayNameFor(model => model.Salary)</dt>
    <dd>
        @Html.DisplayFor(modelItem => Model.Salary)
    </dd>
    <dt> @Html.DisplayNameFor(model => model.BirthDate)</dt>

    <dd>
        @Html.DisplayFor(modelItem => Model.BirthDate)
    </dd>


</dl>


<!-- aqui é post!-->
<form  asp-action="RemoveSeller" asp-controller="Sellers">
    <input type="hidden" name="id" asp-for="@Model.Id"  />
    <input type="submit" value="Delete" class="btn-danger" />
</form>

