<!--correponde a variavel retornada na view!-->
@model IEnumerable<Seller>

@{
    ViewData["Title"] = "Sellers";
}

<h2> @ViewData["Title"] </h2>
<p>
    <a asp-action="Create" class="btn btn-default">Create</a>
</p>
<hr />

<table class="table table-striped table-hover">
    <thead>

        <tr class="success">
            <th> Matrícula </th>
            <th> @Html.DisplayNameFor(model => model.Name)</th>
            <th> @Html.DisplayNameFor(model => model.Email)</th>
            <!-- <th> @Html.DisplayNameFor(model => model.Salary)</th>
            <th> @Html.DisplayNameFor(model => model.BirthDate)</th> -->
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => v.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => v.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => v.Email)
            </td>
            <!--     <td>
                            @Html.DisplayFor(modelItem => v.Salary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.BirthDate)
                        </td> -->
            <td>
                <a class='glyphicon glyphicon-edit' title="Edit" asp-action="Edit" asp-route-id="@v.Id" asp-controller="Sellers"></a> |
                <a asp-action="Details" title="Details"  class="glyphicon glyphicon-th-list"  asp-route-id="@v.Id" asp-controller="Sellers">  </a> |
                <a asp-action="Delete" title="Delete" class="glyphicon glyphicon-erase" asp-route-id="@v.Id"> </a>
            </td>
        </tr>
                }
    </tbody>

</table>

